@font-face {
  font-family: 'Federant';
  font-style: normal;
  font-weight: 400;
  src: local('Federant Medium'), local('Federant-Medium'), url(http://fonts.gstatic.com/s/federant/v6/C109bUmZeyhh-vIXq9lNfnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
